@using ViewsExample.Models;

@{
   // List <Person>? people= (List<Person>?)ViewData["people"];
}


<!DOCTYPE html> 
<html>
<head>
    <title>DotNet</title>
    <link rel="stylesheet" href="~/css/StyleSheet.css" />
</head>
<body>
    <h1>@ViewBag.appTitle</h1>

   
    <text>This is the For Loop</text>
        @* @foreach (Person person in ViewBag.people) *@
        @foreach (Person person in Model)
        {   
            <div class="out-box">
            @person.Name

        <div class="box">
            @person.PersonGender
        </div>   

            <div class="box">
				@person.BirthDate.Value.ToString("dd/MM/yyyy")
            </div>
            <a href="person-details/@person.Name">Details</a>
        </div>
        }

    

    <p><button onclick="showAlert()">Click Me</button></p>
    <script>
		function showAlert() {
           peopleCount=@ViewBag.people.Count;
			alert(peopleCount+' people found');
		}

    </script>
</body>
</html>
